/* Custom Font */
@font-face {
    font-family: "customfont"; src: url("../fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf");
}

body {
    background-color: black;
    color: rgb(146, 218, 39);
    text-align: center;
}

a {
    color: rgb(25, 14, 187);
}

.seo-pics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    gap: 10px;
    justify-items: center;
    max-width: 100%;
    height: auto;
    background-size: contain;
    padding: 10px 0;
    border-bottom: 5px solid rgb(146, 218, 39);
    border-top: 5px solid rgb(146, 218, 39);
}

img {
    filter: grayscale(100%);
    transition: transform .4s ease-in-out;
}

img:hover {
    filter: grayscale(0%);
    transform: scale(1.5);
    z-index: 1;
    transition: transform .4s ease-in-out;
}

/* .seo-pics > img:nth-child(1):hover {
    transform: scale(1.5) translateX(15%);
}

.seo-pics > img:nth-child(7):hover {
    transform: scale(1.5) translateX(15%);
}

.seo-pics > img:nth-child(6):hover {
    transform: scale(1.5) translateX(-15%)
}

.seo-pics > img:nth-child(12):hover {
    transform: scale(1.5) translateX(-15%)
} */

footer {
    display: block;
    margin: 10px auto;
    padding-bottom: 10px;
    width: 100px;
    border: solid rgb(146, 218, 39) 2px;
}